body{
    font-family: 'Montserrat', sans-serif;
}
.principal{
    
    position:relative;
    margin:0,auto;
}


nav{
    position:absolute;
    top:110px;
    right:120px;
    
}
 nav li{
    display:inline;
    margin:0 0 0 15px;
    
 }
 nav a{
    font-size:20px;
    color:black;
    font-weight: bold;
    text-transform:uppercase;
    text-decoration: none;

 }
 nav a:hover{
    color:hsl(46, 91%, 40%);
    text-decoration:underline;
 }

 .produtos{
    width: 900px;
    margin: auto;
    padding-top:100px;
    
 }

.produtos li{
    display:inline-block;
    text-align:center;
    width:30%;
    vertical-align:top;
    margin:0 1.5%;
    margin:0 10px 40px 10px; 
    background-color:rgb(185, 182, 182);
    padding:5px;
    box-sizing:border-box;
    border: solid black 2px;
    border-radius:10px;
}

.produtos li:hover{
    border-color:hsl(46, 91%, 40%);
    
}
.produtos li:hover h2{
    font-size:25px;
    
}

.produtos li:active{
    border-color:#00ff00;
}

.produtos h2{
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
}

.desc{
    font-size:20px;
    padding:10px;
}
.preco{
    font-weight:bold;
    font-size: 18;
}

footer{
    text-align:center;
    background:url(Imagen/bg.jpg);
    padding:40px 0 ;
    
}
.copy{
    color:white;
    font-size:13px;
    margin-top:20px;
}

main{
    width: 940px;
    margin:0 auto;
}

/* contato*/

form{
    margin: 40px 0;
}

form label,form legend{
    display:block;
    margin: 0 0 10px;

}

.padrao{
    display:block;
    margin:0 0 20px;
    padding: 10px 10px;
    width:50%;
}
.checkbox{
    margin: 20px 0;
}
select{
    margin:10px 0;
}
.enviar{
    width:40%;
    padding:15px 0 ;
    background-color:orange;
    color:black;
    font-weight:bold;
    font-size:18px;
    border:none;
    border-radius: 5px;
    transition: 1s  all ;
    cursor: pointer;
}

.enviar:hover{
    background:darkorange;
    transform:scale(1.2);
  
}
label input{
    cursor: pointer;
}
/*tabela*/
table{
    margin:20px 40px;
}

thead{
    background-color: gray;
    color:white;
    font-weight: bold;

}

td,th{
    border:solid black 1px;
    padding:8px 15px;
}

